ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: purple;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

img {
  display: flex;
  width: 100%;
  height: 450px;
  padding: 5px;
}

.background {
  background-color: purple;
}

