.EventsPage {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .events,
  .tracks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4vh;
  }
  
  .events_container,
  .tracks_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 6vh;
  }
  
  .event {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    background-color: aqua;
    width: 47%;
  }
  
  .track {
    display: flex;
    flex-wrap: wrap;
    width: 47%;
    background-color: aqua;
  }
  
  .event_name {
    grid-area: 1 / 1 / 2 / 2;
  }
  .event_address,
  .track_artist {
    grid-area: 1 / 2 / 2 / 3;
  }
  .event_date,
  .track_album {
    grid-area: 2 / 1 / 3 / 2;
  }
  .event_time,
  .track_genre {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .track_date {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  .track_title,
  .track_artist,
  .track_album,
  .track_date,
  track_genre {
    width: 50%;
  }